*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* Degrade */

h2{
    text-align: center;
}
.caja{
    border: 3px solid purple;
    margin: 5rem auto 5rem;
    max-width: 1000px;
    height: 400px;
    padding: 1rem;

    overflow: hidden;
}
.caja-transform{
    display: flex;
    flex-flow: wrap;

}
.transform{
    width: 500px;
    height: 500px;
    border: 3px solid purple;
    margin: 5rem auto 5rem;
    overflow: hidden;
}

/* Manual -seccion 

.{
    /* Se pueden usar numeros +/-
        Podemos usar px y %
                        ejeX, ejeY
    transform: translate(100px, 200px);
    transform: translateX(100px);
    transform: translateY(0px);
}
*/
.transform img{
    width: 150px;
    height: 150px;
}


.transform--translate{
    transform: translate(100px, 200px);
}

/*se mueve al 100% de la dimension de la imagen*/
.transform--translatex{    
    transform: translateX(100%);}

/*Duplica 2 veces su tamaño*/
.transform--scale{
    transform: scale(2);
}
    
/*Reduce un 50%*/
.transform--scale-50{
     transform: scale(0.5);
    }
    

    /*Reduce - desaparece */
.transform--scale-cero{
    transform: scale(0);
}
   
    /*              ejeX ejeY */
.transform--scale-xy{
    transform: scale(1, 2);
}
   
    /*2D - grados*/
.transform--rotate25{
    transform: rotate(25deg);
}

    /*X rota hacia atras*/
.transform--rotate50{
    transform: rotateX(50deg);
}

    /*Y desparece en 90*/
.transform--rotate320{ 
    transform: rotateY(320deg);
}


    /*skew - deforma - grados*/
.transform--skew30{
    transform: skew(30deg);
}
.transform--skew20{
    transform: skewX(20deg);
}
.transform--skew50{
    transform: skewY(50deg);
}





/* Transiciones y transform*/
.circle > div{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-top:5px ;
}
circle:hover{
    transition: 100px;
}
.caja-1{
    background-color: rgb(0, 174, 255);
    transition-duration: 2s;
    transition-delay: 1s;

}
.caja-1:hover{
    transform: scale(5);
}
.caja-2{
    background-color: rgb(255, 187, 0);
    transition-duration: 5s;
    transition-delay: 0;
}
.caja-2:hover{
    transform: translate(1400px) ;
}
.caja-3{
    background-color: rgb(255, 0, 221);
    transition: 3s;
}
.caja-3:hover{
    transform: translate(400px);
    width: 300px;
    height: 300px;
}
.caja-4{
    background-color: rgb(0, 47, 255);
    transform: translate(400px);
    transform: skew(30deg) translate(400px);
    box-shadow: 9px 3px 7px 0.5px rgb(0 0 0 / 16%);
}
.caja-5{
    background-color: rgb(0, 255, 64);
   transition: 2s;
   background-image: linear-gradient(rgb(0, 174, 255), rgb(193, 255, 193), yellow);
}
.caja-5:hover{
    transform: translate(600px) scale(2);
}














/*
    Animaciones
*/
.img-coder{
    /*Ambas propiedades son obligatorias*/
    /*nombre de animacion*/
    animation-name: move;
    /*tiempo de animacion*/
    animation-duration: 5s;
    /*veces que quiero que se repita la animacion*/
    animation-iteration-count: 3;
    /*dealy*/
    animation-delay: 1s;
    /* por default linear - Probar con ease, ease in, ease out - infinite*/
    animation-timing-function: infinite;
    /*ver pagina cubic-beizer.com*/
    animation-timing-function: cubic-bezier();
}

/*forma 1*/
@keyframes move{
    /*Que queremos que ocurra? */
    /*Inicia con*/
    from{
        opacity: 1;
        transform:translate(0) scale(0) rotate(0deg);
    }
    /*Termina con*/
    to{
        opacity: 0;
        transform: translate(300px) scale(1.5) rotate(360deg);
    }
}

.img-coder-copy{
    animation-name: moveCopy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*forma 2*/
@keyframes moveCopy{
    /*uso de % - Solemos usar inicio 0% y para el fin 100%
    */

    0%{
        opacity: 0;
        transform: translateX(0px)
    }
    25%{
        opacity: 0.1;
        transform: translateX(400px)
    }
    50%{
        opacity: 0.2;
        transform: translateY(0px)
    }
    75%{
        opacity: 0.5;
        transform: translateY(200px)        
    }
    100%{
        opacity: 1;
        transform: translateY(0px) 
    }
    
}


.gradiente{
    /*Debemos colocar como minimo 2 colores
                    "to left"
    linear-gradient(ubicacion/grados color1, color2, +colores)

    Por default - arriba hacia abajo
    */
    background-image: linear-gradient(to top, purple, skyblue, yellow);
}














/* AOS */
.grid-doggi{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "grid-doggi-1 grid-doggi-2 "
    "grid-doggi-3 grid-doggi-4 "
    "grid-doggi-5 grid-doggi-5 "
    ;
    gap: 5px;

}
.title{
    background-color: rgb(201, 201, 201);
    padding: 20px;
    text-align: center;
}
.grid-doggi-size, .grid-michi-size {
    width: 100%;
}

/* animate */
.grid-michi{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "grid-michi-1 grid-michi-2 "
    "grid-michi-3 grid-michi-4 "
    "grid-michi-5 grid-michi-6 "
    ;
    gap: 5px;

}
