


/* menu */

/* aside */

/* galeria */

.galeria__button{
    background-color: #000;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 10px;
}



/* MEDIA QUERIES */

/*

👉 Si yo codeo desde "desktop" a "mobile" -> max-width
👉 Si yo codeo desde "mobile" a "desktop" -> min-width
*/
/* mobile small */
@media ( min-width:300px ) and ( max-width:576px ){
   .grid__container{
        background-color: rgb(95, 203, 203);
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 1fr 0.2fr;
        grid-template-areas: 
        "menu"
        "nota"
        "principal"
        "copy"
        ;
   }

   .galeria__producto img{
        width: 5rem;
    }
    .galeria__button{
        background-color: #0b369a;
        color: #ffffff;
        border: 1px solid #2a09b1a2;
        border-radius: 20px;
    }

}

/* tablet */
@media ( min-width:577px ) and ( max-width:1023px ){
 /* código */
}