.cabeza{
    &__span{
        font-size: 0.7rem;
        background-color: $color-primary;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
        padding-top: 11px;
        height: 30px;
            p{
                color: #ffffff;
                padding: 0;
                margin: 0;
            }
        }
    &__menu{
        @include flex-k (space-around, center, none);
        height: 5rem;
            &--logo{
                font-weight: 700;
                font-size: 1.5rem;
            }
            ul{
                display: flex;
                width: 24rem;
                justify-content: space-around;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color:$color-primary;
                    }
                }
            }
        }

    .logo{
         width: 70px;
        }
    //Color de bg de navbar
    .k-bg-color{
        background-color: #e1e2e0;
    }

}
//aside
p{
    color:$color-primary;
    margin: 3rem;
}

