.cabeza{
    &__span{
            @include titulo-principal;
            letter-spacing: 1px;
            @include ancho-alto;
        
            padding-top: 11px;
        
            font-family: $mi-fuente-principal;

            p{
                color: #ffffff;
                padding: 0;
                margin: 0;
            }
        }
    &__menu{
        @include flex-k (space-around, center, none);
        height: 5rem;
        }
    

}


