/* galeria */
.galeria{
    .carru-display{
        display: none;
    }
    &__contenedor{
        @extend %flex;
       
        padding: 2rem 0 3rem;
    }
    
    &__producto{
        display: flex;
        flex-direction: column;
        margin: 1rem;

         img{
            width: 14rem;
            }
    }

    &__button{
        @extend %button-style;
    }
}

