/* galeria */
.galeria{
    @include flex-k(center, center, row);
    flex-flow: wrap;
    
    padding: 2rem 0 3rem;

    &__producto{
        display: flex;
        flex-direction: column;
        margin: 1rem;

         img{
            width: 14rem;
            }

    }

    &__button{
        background-color: #000;
        color: #ffffff;
        border: 1px solid #000;
        border-radius: 10px;
    }
}

